---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="palette" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Diseño gráfico</h2>
		<p>Creación de piezas visuales impactantes que comunican mensajes claros y efectivos, desde identidad visual hasta material impreso y digital.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="device-mobile" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Diseño UX/UI</h2>
		<p>Diseño de interfaces intuitivas y experiencias de usuario centradas en las necesidades del usuario, combinando estética y funcionalidad.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="package" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Branding</h2>
		<p>Desarrollo de identidades de marca completas que reflejan la esencia y valores de cada proyecto, creando conexiones duraderas con el público.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
